In [170]:
import pandas as pd
import matplotlib.pyplot as plt

In [171]:
shooters = pd.read_csv('Data/Stanford_MSA_Database.csv')

OK, so there's lots of things we can do with the dataset given that it's a full 335 rows with 55 columns of descriptive text data each. Let's start by coming up with some basic questions we want answered:
- What kinds of weapons are most popular, and where?
- Where are guns most readily accessible in the country?
- How do warning signs change with age and other factors?
- Does lethality change with age?
- Have shootings become, on the whole, more lethal over time?
- How do the number of fatalities compare to the total number of victims?
- Has the number of guns used in a shooting changed on average over time?
- What happens to the shooter, and how does that change with age and race? Does their fate change substantially in incidences of school shootings?
- How do the motivations of mass shooters differ with geography?
- Does military experience alter the motive?

In [172]:
shooters

,CaseID,Title,Location,City,State,Latitude,Longitude,Number of Civilian Fatalities,Number of Civilian Injured,Number of Enforcement Fatalities,...,Data Source 3,Data Source 4,Data Source 5,Data Source 6,Data Source 7,Military Experience,Class,Depreciation,Notes,Edit Date
0,1,University of Texas at Austin,"Austin, Texas",Austin,Texas,30.198887,-97.844159,15,32,1,...,"http://news.google.com/newspapers?id=lkk0AAAAIBAJ&sjid=YusFAAAAIBAJ&pg=2934,2047588&/","http://news.google.com/newspapers?id=PPUjAAAAIBAJ&sjid=YgUEAAAAIBAJ&pg=3725,322205&/",http://books.google.com/books?id=ClYEAAAAMBAJ&hl=en,NaN,NaN,Yes,SPK,1,NaN,6/8/2016
1,2,Rose-Mar College of Beauty,"Mesa, Arizona",Mesa,Arizona,33.422687,-111.816320,5,1,0,...,http://www.nydailynews.com/news/crime/beauty-salon-massacre-article-1.273663,http://books.google.com/books?id=Cre7qsswRiwC&pg=PA37&lpg=PA37&dq=robert+smith+arizona+mesa+murder+beauty&source=bl&ots=IwjJ-9bELX&sig=ISKXU_5GaTUFtGeaIgYmhCcpSNk&hl=en&sa=X&ei=hpb1Ur6bN5bZoATF44K4Dg&ved=0CEYQ6AEwBA#v=onepage&q=robert%20smith%20arizona%20mesa%20murder%20beauty&f=false,NaN,NaN,NaN,Unknown,MS,1,NaN,6/8/2016
2,3,New Orleans Police Shootings,"New Orleans, Louisiana",New Orleans,Louisiana,30.068724,-89.931474,4,8,5,...,http://www.trutv.com/library/crime/notorious_murders/mass/mark_essex/4.html,http://books.google.com/books?id=TfEDmROcZwEC&printsec=frontcover&source=gbs_ge_summary_r&cad=0#v=onepage&q&f=false,NaN,NaN,NaN,Unknown,SPK,1,NaN,6/22/2016
3,4,Clara Barton Elementary School,"Chicago, Illinois",Chicago,Illinois,41.839280,-87.688181,1,3,0,...,http://www.leagle.com/xmlResult.aspx?page=1&xmldoc=1984393126IllApp3d267_1353.xml&docbase=CSLWAR1-1950-1985&SizeDisp=7,NaN,NaN,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
4,5,Olean High School,"Olean, New York",Olean,New York,42.081854,-78.432139,3,7,0,...,http://www.newswithviews.com/Erica/Carle10.htm,http://books.google.com/books?id=ZuKoSskEWyIC&pg=PA265&lpg=PA265&dq=the+troopers+are+coming+olean+shooting&source=bl&ots=qKpIqsGkw0&sig=zMSVDqH-rdwVOJ_bQ2ElynaZsbw&hl=en&sa=X&ei=ebP2UruFOcTpoASBuIGwDQ&ved=0CDsQ6AEwAg#v=onepage&q=the%20troopers%20are%20coming%20olean%20shooting&f=false,"""Olean High School Shooting"". Larrie Benton Zacharie. May 11, 2012. Verpublishing.",NaN,NaN,Unknown,MS,1,NaN,6/21/2016
5,6,Los Angeles Computer Learning Center,"Los Angeles, California",Los Angeles,California,34.176221,-118.539954,1,6,1,...,http://www.newspapers.com/newspage/15323499/,NaN,NaN,NaN,NaN,Unknown,MS,1,NaN,6/22/2016
6,7,Cal State Fullerton,"Fullerton, California",Fullerton,California,33.884042,-117.927850,7,2,0,...,http://www.dailytitan.com/2011/11/csuf-massacre-1976/,http://criminalminds.wikia.com/wiki/Edward_Allaway,http://www.dailytitan.com/2011/11/csuf-massacre-1976/,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
7,8,Grover Cleveland Elementary School,"San Diego, California",San Diego,California,32.863573,-117.128163,2,8,0,...,http://www.examiner.com/article/the-san-diego-school-shooting-34-years-later,http://signofthetimes.yuku.com/topic/1258#.UvbcyXfxcg8,https://www.mail-archive.com/seeknfind@ashlists.org/msg03569.html,NaN,NaN,Unknown,MS,1,NaN,6/22/2016
8,9,University of South Carolina,"Columbia, South Carolina",Columbia,South Carolina,34.050988,-80.820775,2,5,0,...,"http://news.google.com/newspapers?nid=1891&dat=19791007&id=-58fAAAAIBAJ&sjid=HtYEAAAAIBAJ&pg=1470,725327","http://news.google.com/newspapers?nid=1338&dat=19791006&id=F6QSAAAAIBAJ&sjid=LvkDAAAAIBAJ&pg=5744,1971456",NaN,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
9,10,Valley High School,"Las Vegas, Nevada",Las Vegas,Nevada,36.189319,-115.326487,1,2,0,...,http://www.leagle.com/xmlResult.aspx?page=1&xmldoc=19861932720P2d1212_11924.xml&docbase=CSLWAR2-1986-2006&SizeDisp=7,"http://news.google.com/newspapers?nid=1345&dat=19820320&id=9_ZWAAAAIBAJ&sjid=YvkDAAAAIBAJ&pg=6011,1724605",http://www.lasvegassun.com/news/1999/apr/23/slaying-of-valley-teacher-recalled/,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
10,11,Welding shop in Miami,"Miami, Florida",Miami,Florida,25.796539,-80.208404,8,3,0,...,http://www.motherjones.com/politics/2012/12/mass-shootings-mother-jones-full-data,http://www.nytimes.com/1982/08/24/us/no-charges-planned-against-miami-man-who-shot-gunman.html,http://www.nytimes.com/1982/10/14/us/florida-city-rescinds-law-on-buying-guns.html,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
11,12,Wah Mee Club in Seattle,"Seattle, Washington",Seattle,Washington,47.621996,-122.323646,13,1,0,...,http://seattletimes.com/html/localnews/2010428162_wahmee05m.html,http://wahmee.com/wahmeebook.html,http://murderpedia.org/male.N/images/ng_benjamin/misc_wahmee.pdf,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
12,13,Johnston Post Office,"Johnston, South Carolina",Johnston,South Carolina,33.832729,-81.805158,1,3,0,...,http://sc.findacase.com/research/wfrmDocViewer.aspx/xq/fac.19890424_0040067.SC.htm/qx,"http://news.google.com/newspapers?nid=861&dat=19860824&id=MLddAAAAIBAJ&sjid=5F0NAAAAIBAJ&pg=6985,5854511",http://www.21cpw.com/BGP.pdf,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
13,14,49th Street Elementary School,"Los Angeles, California",Los Angeles,California,34.176221,-118.539954,2,12,0,...,http://articles.latimes.com/1985-02-24/news/mn-24485_1_mentally-ill-offenders,http://www.ourweekly.com/issues-archive/tracking-killer%E2%80%99s-dark-mind,http://www.apnewsarchive.com/1985/New-Proposal-For-Spotting-Mental-Cases/id-e8d31795e17e3dcbb265e13d9744f025,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
14,15,Ianni's Club in Dallas,"Dallas, Texas",Dallas,Texas,32.794806,-96.766311,6,1,0,...,http://www.mail-archive.com/deathpenalty@lists.washlaw.edu/msg00228.html,http://www.garylavergne.com/WTDexcerpt.htm,http://books.google.com/books?id=Hr3OBwP-lbUC&pg=PA172&lpg=PA172&dq=Belachheb+mental&source=bl&ots=D5apkeTuhp&sig=Y6r1_Y7JmnLxTzln1OJejt5QlCU&hl=en&sa=X&ei=9r33UvHaMIryoASCuYC4BA&ved=0CDQQ6AEwAQ#v=onepage&q=Belachheb%20mental&f=false,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
15,16,McDonald's restaurant in San Ysidro,"San Ysidro, California",San Ysidro,California,32.555556,-117.047656,21,19,0,...,http://en.wikipedia.org/wiki/San_Ysidro_McDonald's_massacre,http://www.history.com/this-day-in-history/twenty-one-people-are-shot-to-death-at-mcdonalds,http://www.sandiegouniontribune.com/san-ysidro-massacre/,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
16,17,Goddard Junior High School,"Goddard, Kansas",Goddard,Kansas,37.671294,-97.550705,1,3,0,...,"http://news.google.com/newspapers?nid=1499&dat=19850122&id=Rm4aAAAAIBAJ&sjid=JCoEAAAAIBAJ&pg=3671,946886","http://news.google.com/newspapers?nid=1906&dat=19850125&id=ls4fAAAAIBAJ&sjid=_dgEAAAAIBAJ&pg=1326,1436797",http://ks.findacase.com/research/wfrmDocViewer.aspx/xq/fac.19910118_0042020.KS.htm/qx,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
17,18,Atlanta Post Office,"Atlanta, Georgia",Atlanta,Georgia,33.762997,-84.423133,2,1,0,...,http://www.leagle.com/decision/198891983BR836_1776.xml/MATTER%20OF%20BROWNLEE,http://books.google.com/books?id=aiQ09D7nWxYC&pg=PA1741&lpg=PA1741&dq=steven+brownlee+shooting&source=bl&ots=94xRujlEG-&sig=mVgpR1Md9fWGxgopYreQbjLC414&hl=en&sa=X&ei=R1_4UsmkOYOHogSA9YHICA&ved=0CEkQ6AEwBg#v=onepage&q=steven%20brownlee%20shooting&f=false,"http://news.google.com/newspapers?nid=1964&dat=19850307&id=rR0jAAAAIBAJ&sjid=OM8FAAAAIBAJ&pg=5631,5961674",http://books.google.com/books?id=3B4lTTZE58oC&pg=PA151&lpg=PA151&dq=steven+brownlee+postal&source=bl&ots=vgNtc69p_o&sig=LeLBFQMOAs_UciSeoQGY-y84xJ8&hl=en&sa=X&ei=rF74Uqq7IYLBoATkk4HABg&ved=0CEcQ6AEwBQ#v=onepage&q=steven%20brownlee%20postal&f=false,http://psychwatch.blogspot.com/2007/04/link-between-shootings-and-psychiatric.html,Unknown,MS,1,NaN,6/21/2016
18,19,New York Technical College,"Brooklyn, New York",Brooklyn,New York,40.679276,-73.939513,1,4,0,...,http://www.apnewsarchive.com/1986/Five-Shot-One-Dead-and-Two-Others-Injured-in-Brooklyn-Man-Charged/id-1feb4748e1745daa211734b0b5f8f223,http://articles.philly.com/1986-08-14/news/26062165_1_financial-aid-lab-technician-student,http://joycedavid.com/wp-content/uploads/2013/10/Campus_2.jpg,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
19,20,"Post office in Edmond, Oklahoma","Edmond, Oklahoma",Edmond,Oklahoma,35.668892,-97.414388,14,6,0,...,http://enidnews.com/opinion/x518655735/Aug-20-1986-Just-an-ordinary-day?keyword=topstory,http://en.wikipedia.org/wiki/Patrick_Sherrill,http://www.fdungan.com/usps2.htm,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
20,21,Fergus County High School,"Lewistown, Montana",Lewistown,Montana,47.037407,-109.484492,1,3,0,...,http://www.apnewsarchive.com/1986/Student-Wanted-To-Shoot-Teacher-Kills-Substitute-Instead-Classmates/id-c6a8a3c7594b769d7ceec782a7654650,http://billingsgazette.com/news/state-and-regional/montana/lewistown-school-shooting-victim-struggles-with-recent-gun-violence/article_95e44b9a-e6ad-5f91-be3e-f865a3ad5d53.html,http://caselaw.findlaw.com/mt-supreme-court/1134797.html,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
21,22,Palm Bay Shopping Centers,"Palm Bay, Florida",Palm Bay,Florida,27.983890,-80.666627,4,14,2,...,http://articles.orlandosentinel.com/keyword/william-cruse,http://www.nytimes.com/1987/04/25/us/florida-gunman-charged-with-killing-6.html,http://articles.latimes.com/1987-04-25/news/mn-990_1_palm-bay-police,http://www.motherjones.com/politics/2012/12/mass-shootings-mother-jones-full-data,NaN,Unknown,SPK,1,NaN,6/23/2016
22,23,Pinellas Park High School,"Pinellas Park, Florida",Pinellas Park,Florida,27.848871,-82.710580,1,2,0,...,http://www.tampabay.com/news/publicsafety/man-from-1988-pinellas-park-high-school-shooting-there-are-no-preventable/1266574,http://www.apnewsarchive.com/1988/Teen-Accused-In-Fatal-School-Shooting-Considered-Suicide-Risk/id-d38aa03c538555a4b5ba7ef969d010ee,http://www.wtsp.com/rss/article/217730/13/Surviving-a-school-shooting?utm_source=feedburner,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
23,24,Electromagnetic Systems Laboratory (ESL),"Sunnyvale, California",Sunnyvale,California,37.383443,-122.025619,7,4,0,...,http://murderpedia.org/male.F/f/farley-richard.htm,http://articles.latimes.com/1988-02-18/news/mn-43514_1_mr-farley-richard-farley-sunnyvale-public-safety-department;,http://www.motherjones.com/politics/2012/12/mass-shootings-mother-jones-full-data,"http://news.google.com/newspapers?id=FmYzAAAAIBAJ&sjid=WzIHAAAAIBAJ&pg=7028,576811&dq=richard+farley+shooting&hl=en","http://news.google.com/newspapers?id=uqxAAAAAIBAJ&sjid=sDIHAAAAIBAJ&pg=2425,5898911&dq=richard+farley+shooting&hl=en;",Unknown,MS,1,NaN,6/21/2016
24,25,Hubbard Woods Elementary School,"Winnetka, Illinois",Winnetka,Illinois,42.106488,-87.742111,1,7,0,...,http://www.nbcchicago.com/news/local/Remembering-The-Laurie-Dann-Spree183533341.html,http://abclocal.go.com/wls/story?section=news/local&id=6154968,NaN,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
25,26,Comet Auto Parts and Montefiore School,"Chicago, Illinois",Chicago,Illinois,41.839280,-87.688181,3,1,1,...,"http://news.google.com/newspapers?nid=2457&dat=19881003&id=BqlJAAAAIBAJ&sjid=Pw4NAAAAIBAJ&pg=5494,1032314","http://news.google.com/newspapers?nid=1665&dat=19891015&id=VlEqAAAAIBAJ&sjid=S04EAAAAIBAJ&pg=5116,3529792",http://www.nytimes.com/1988/09/23/us/chicago-man-kills-4-and-wounds-2-before-dying-in-a-shootout.html,NaN,NaN,Yes,SPK,1,NaN,6/23/2016
26,27,Oakland Elementary School,"Greenwood, South Carolina",Greenwood,South Carolina,34.192895,-82.153555,2,9,0,...,http://www.charlestoncitypaper.com/charleston/recalling-south-carolinas-1988-school-shooting/Content?oid=4288005,"http://news.google.com/newspapers?nid=1665&dat=19890922&id=B0YaAAAAIBAJ&sjid=PiQEAAAAIBAJ&pg=5243,6152541\",http://law.justia.com/cases/federal/appellate-courts/F3/352/847/478596/,https://law.resource.org/pub/us/case/reporter/F3/352/352.F3d.847.03-3.html,http://books.google.com/books?id=loDr8rpeCeoC&pg=PA518&lpg=PA518&dq=did+james+wilson+attended+oakland+elementary+school&source=bl&ots=xeUzni_fTY&sig=N3wLGCYM9cxHQhL0lSqFJUvXkT0&hl=en&sa=X&ei=KfMCU6eMB5XroASpkICADA&ved=0CFQQ6AEwBjgK#v=onepage&q=did%20james%20wilson%20attended%20oakland%20elementa...,Unknown,MS,1,NaN,6/21/2016
27,28,New Orleans Downtown Post Office,"New Orleans, Louisiana",New Orleans,Louisiana,30.068724,-89.931474,0,3,0,...,http://books.google.com/books?id=YaLo1jgAorMC&pg=PA419&lpg=PA419&dq=warren+murphy+shooting+postal&source=bl&ots=_UVv_Rvd0R&sig=RI9Wt1HcUkYX2iTjOkHYw4B3tKU&hl=en&sa=X&ei=t_gCU5WKOonboASJ3IHYBQ&ved=0CEoQ6AEwBQ#v=onepage&q=warren%20murphy%20shooting%20postal&f=false,http://www.ca5.uscourts.gov/opinions/unpub/93/93-3113.0.wpd.pdf,http://www.thehospitalsecurityreporter.com/pdfs/NYPD%20Active%20Shooter.pdf,NaN,NaN,Unknown,MS,1,NaN,6/23/2016
28,29,Cleveland Elementary School,"Stockton, California",Stockton,California,37.966318,-121.301877,5,30,0,...,"http://news.google.com/newspapers?id=xpAOAAAAIBAJ&sjid=ooEDAAAAIBAJ&pg=4929,4551161&dq=patrick-edward-purdy",http://www.nytimes.com/1989/01/18/us/five-children-killed-as-gunman-attacks-a-california-school.html,NaN,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
29,30,Orange Glenn Post Office,"Escondido, California",Escondido,California,33.134399,-117.072253,3,1,0,...,http://www.reocities.com/HotSprings/5782/inmemory.htm,http://murderpedia.org/male.T/t/taylor-john-merlin.htm,NaN,NaN,NaN,Yes,MS,1,NaN,6/21/2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,315,"Forestville, Maryland Drive-by","Forestville, Maryland",Forestville,Maryland,38.845113,-76.874972,1,4,0,...,http://wtop.com/prince-georges-county/2016/04/woman-dead-in-quadruple-shooting-in-prince-georges-co/,NaN,NaN,NaN,NaN,Unknown,MS,1,NaN,6/6/2016
306,316,"Ferguson, MO Drive by","Ferguson, Missouri",Ferguson,Missouri,38.744217,-90.305391,0,4,0,...,http://www.ksdk.com/news/two-9-year-old-girls-injured-in-drive-by-shooting-in-ferguson/160614134,NaN,NaN,NaN,http://www.gunviolencearchive.org/incident/550445,Unknown,MS,1,NaN,5/31/2016
307,317,"Appling, GA family murder","Appling, Georgia",Appling,Georgia,33.546090,-82.316315,5,0,0,...,http://chronicle.augusta.com/news/crime-courts/2016-04-22/five-reported-killed-columbia-county-shootings?v=1461363447#,http://6abc.com/news/five-people-shot-to-death-in-columbia-county-georgia/1305532/,NaN,NaN,http://www.gunviolencearchive.org/incident/546022,Unknown,SPK,1,NaN,6/7/2016
308,318,"Auburn, AL club shootout","Auburn, Alabama",Auburn,Alabama,32.609857,-85.480782,3,1,0,...,http://www.al.com/news/montgomery/index.ssf/2016/04/3_dead_1_injured_in_auburn_sho.html#incart_river_index,http://www.theplainsman.com/article/2016/04/three-people-killed-in-early-morning-shooting,NaN,NaN,http://www.gunviolencearchive.org/incident/546244,Unknown,MS,1,NaN,6/7/2016
309,319,Nashville Music City Central shooting,"Nashville, Tennessee",Nashville,Tennessee,36.162664,-86.781602,0,4,0,...,http://fox17.com/news/local/metro-says-shooting-reported-at-music-city-central-bus-station-in-downton-nashville,http://www.tennessean.com/story/news/crime/2016/04/28/police-arrest-mta-bus-shooting-suspect/83674708/,NaN,NaN,NaN,Unknown,MS,1,NaN,6/7/2017
310,320,"Murfreesboro, TN party shooting","Murfreesboro, Tennessee",Murfreesboro,Tennessee,35.845621,-86.390270,5,0,0,...,http://www.dnj.com/story/news/2016/05/02/shooting-victims-identified/83822272/,NaN,NaN,NaN,http://www.gunviolencearchive.org/incident/551053,Unknown,MS,1,NaN,6/27/2016
311,321,"Florida Ex-wife, ex-girlfriend murder","Green Cove Springs, Florida",Green Cove Springs,Florida,29.991909,-81.678147,3,0,0,...,http://heavy.com/news/2016/05/murray-lancaster-green-cove-springs-shootings-suspect-arrest-search-victims-valerie-waylon-buddy-short-erica-green/,NaN,NaN,NaN,NaN,Unknown,MS,1,NaN,6/27/2016
312,322,"Katy, Texas work retaliation murder","Katy, Texas",Katy,Texas,29.785785,-95.824396,1,2,0,...,http://www.nbcnewyork.com/news/national-international/Harris-County-Texas-Knight-Transportation-Shooting-Murder-Suicide-378240701.html,NaN,NaN,NaN,NaN,Unknown,MS,1,NaN,6/27/2016
313,323,"Card game ambush in Shreveport, Louisiana","Shreveport, Louisiana",Shreveport,Louisiana,32.525152,-93.750179,2,6,0,...,http://www.ktbs.com/story/31897378/updated-2-dead-8-injured-after-shooting-at-card-game-in-shreveport,NaN,NaN,NaN,http://www.gunviolencearchive.org/incident/553803,Unknown,MS,1,NaN,6/27/2016
314,324,"Allapattah, Florida street shooting","Allapattah, Florida",Allapattah,Florida,25.800315,-80.226555,1,3,0,...,http://www.nbcmiami.com/news/local/1-Killed-3-Injured-in-Allapattah-Shooting-Police-378388331.html,NaN,NaN,NaN,http://www.gunviolencearchive.org/incident/554027,Unknown,MS,1,NaN,6/27/2016
315,325,Federal Security Officer has day shooting rampage near Washington DC,"Bethesda, Maryland",Bethesda,Maryland,38.984652,-77.094709,3,3,0,...,http://heavy.com/news/2016/05/gladys-eulalio-tordil-beltsville-maryland-high-point-high-school-shooting-murder-suspect-wife-federal-protective-photo/,http://www.nbcwashington.com/news/local/Shooting-Reported-at-Mall-in-Bethesda-Police-Say-378417311.html?update4,NaN,NaN,http://www.gunviolencearchive.org/incident/554133,Unknown,SPK,1,NaN,6/27/2016
316,326,"Montgomery, Alabama street shooting","Montgomery, Alabama",Montgomery,Alabama,32.366805,-86.299969,1,3,0,...,http://www.al.com/news/index.ssf/2016/05/4_shot_in_montgomery.html,http://www.alabamanews.net/2016/05/10/one-of-four-dead-following-montgomery-shooting/,NaN,NaN,NaN,Unknown,MS,1,NaN,6/28/2016
317,327,Detroit street shooting,"Detroit, Michigan",Detroit,Michigan,42.331427,-83.045754,1,4,0,...,http://www.mlive.com/news/detroit/index.ssf/2016/05/nine_people_shot_two_killed_wi.html,http://www.fox2detroit.com/news/local-news/138475564-story,NaN,NaN,NaN,Unknown,MS,1,NaN,6/28/2016
318,328,Austin Taco truck murder,"Austin, Texas",Austin,Texas,30.267153,-97.743061,1,3,0,...,http://austin.com/fight-over-line-cutting-leads-to-taco-fueled-homicide-in-austin/,http://www.kvue.com/news/local/sources-argument-led-to-fatal-north-austin-shooting/180198760,NaN,NaN,NaN,Unknown,MS,1,NaN,6/28/2016
319,329,Birmingham Domestic Dispute Murder,"Birmingham, Alabama",Birmingham,Alabama,33.520661,-86.802490,1,4,0,...,http://abc3340.com/news/local/birmingham-pd-woman-killed-in-shooting-had-protection-from-abuse-order-against-suspect,http://www.al.com/news/birmingham/index.ssf/2016/05/father_of_8_arrested_in_shooti.html,NaN,NaN,NaN,Unknown,MS,1,NaN,6/28/2016
320,330,Chicago bus stop ambush,"Chicago, Illinois",Chicago,Illinois,41.878114,-87.629798,0,5,0,...,http://www.chicagotribune.com/news/local/breaking/ct-chicago-shootings-violence-20160511-story.html,http://chicago.suntimes.com/news/1-killed-15-wounded-in-wednesday-shootings-across-chicago/,NaN,NaN,http://www.gunviolencearchive.org/incident/557479,Unknown,MS,1,NaN,6/28/2016
321,331,Chicago Family Murder Suicide,"Chicago, Illinois",Chicago,Illinois,41.878114,-87.629798,3,0,0,...,http://homicides.suntimes.com/2016/05/13/police-suspect-took-his-own-life-after-standoff-following-slayings-of-jerome-wrigt-kiara-kinard-and-makeesha-starks/,https://www.dnainfo.com/chicago/20160512/englewood/englewood-shooting-kills-2-women-1-man-domestic-incident-police-say,NaN,NaN,NaN,Unknown,FMS,1,NaN,6/28/2016
322,332,Phoenix girlfriend murder and cop shootout,"Phoenix, Arizona",Phoenix,Arizona,33.448377,-112.074037,1,0,0,...,http://www.12news.com/news/local/valley/phoenix-pd-man-shot-girlfriend-before-turning-on-officers/194591731,NaN,NaN,NaN,NaN,Unknown,MS,1,NaN,6/28/2016
323,333,"Friend murder and fire coverup in Moultrie, GA","Moultrie, Georgia",Moultrie,Georgia,31.179941,-83.788839,5,0,0,...,http://www.moultrieobserver.com/news/local_news/dogs-also-killed-in-mass-slaying/article_8a5f7f5e-1eb9-11e6-ad57-7f3919ebe33d.html,http://heavy.com/news/2016/05/jeffrey-peacock-colquitt-moultrie-georgia-fire-murder-suspect-photos-facebook-marines-motive-victims/,NaN,NaN,NaN,Unknown,MS,1,NaN,6/29/2016

In [173]:
list(shooters)

['CaseID',
 'Title',
 'Location',
 'City',
 'State',
 'Latitude',
 'Longitude',
 'Number of Civilian Fatalities',
 'Number of Civilian Injured',
 'Number of Enforcement Fatalities',
 'Number of Enforcement Injured',
 'Total Number of Fatalities',
 'Total Number of Victims',
 'Description',
 'Date',
 'Day of Week',
 'Date - Detailed',
 'Shooter Name',
 'Number of shooters',
 'Shooter Age(s)',
 'Average Shooter Age',
 'Shooter Sex',
 'Shooter Race',
 'Type of Gun - Detailed',
 'Type of Gun - General',
 'Number of Shotguns',
 'Number of Rifles',
 'Number of Handguns',
 'Total Number of Guns',
 'Number of Automatic Guns',
 'Number of Semi-Automatic Guns',
 'Fate of Shooter at the scene',
 'Fate of Shooter',
 "Shooter's Cause of Death",
 'School Related',
 'Place Type',
 'Relationship to Incident Location',
 'Targeted Victim/s - Detailed',
 'Targeted Victim/s - General',
 'Possible Motive - Detailed',
 'Possible Motive - General',
 'History of Mental Illness - Detailed',
 'History of Mental Illness - General',
 'Data Source 1',
 'Data Source 2',
 'Data Source 3',
 'Data Source 4',
 'Data Source 5',
 'Data Source 6',
 'Data Source 7',
 'Military Experience',
 'Class',
 'Depreciation',
 'Notes',
 'Edit Date']

I'm curious what's going to happen if I run a market basket analysis. Let's clean up the data a little more and see what happens. I'm working off of the following tutorial:
http://pbpython.com/market-basket-analysis.html

In [174]:
from copy import copy
cleaned_shooters = copy(shooters)

#Clean gun types
cleaned_shooters['Type of Gun - General'] = cleaned_shooters['Type of Gun - General'].str.strip()
cleaned_shooters['Type of Gun - General'] = cleaned_shooters['Type of Gun - General'].str.lower()
cleaned_shooters['Type of Gun - General'].unique()

array(['multiple guns', 'handgun', 'shotgun', 'rifle', 'unknown',
       'semi-automatic rifle', '9-mm'], dtype=object)

In [175]:
#Clean military experience
cleaned_shooters['Military Experience'] = cleaned_shooters['Military Experience'].str.lower()
cleaned_shooters['Military Experience'].replace('yes', True, inplace=True)
cleaned_shooters['Military Experience'].replace(['no', 'unknown'], False, inplace=True)

In [176]:
#Set civilian + law enforcement casualties, injuries to bools
cleaned_shooters['Number of Civilian Fatalities'] = cleaned_shooters['Number of Civilian Fatalities'] > 0
cleaned_shooters['Number of Civilian Injured'] = cleaned_shooters['Number of Civilian Injured'] > 0
cleaned_shooters['Number of Enforcement Fatalities'] = cleaned_shooters['Number of Enforcement Fatalities'] > 0
cleaned_shooters['Number of Enforcement Injured'] = cleaned_shooters['Number of Enforcement Injured'] > 0

In [177]:
#Clean gun types
guncount_types = ['Number of Shotguns','Number of Handguns','Number of Rifles']
cleaned_shooters[guncount_types] = cleaned_shooters[guncount_types].replace('Unknown', 0, inplace=True)

#Set gun types to bools
cleaned_shooters['Number of Shotguns'] = pd.to_numeric(cleaned_shooters['Number of Shotguns']) > 0
cleaned_shooters['Number of Rifles'] = pd.to_numeric(cleaned_shooters['Number of Rifles']) > 0
cleaned_shooters['Number of Handguns'] = pd.to_numeric(cleaned_shooters['Number of Handguns']) > 0

C:\Users\spenc\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [185]:
#We'll iterate over our desired features and flatten them s.t.
#each unique value has a column, and if the incident has that value
#we'll just assign the matching column a 1 and the other ones a 0
marketbasket = cleaned_shooters[[
    'Number of Civilian Fatalities',
    'Number of Civilian Injured',
    'Number of Enforcement Fatalities',
    'Number of Enforcement Injured',
    'Military Experience',
    'Number of Shotguns',
    'Number of Rifles',
    'Number of Handguns'
]]


#Get the logical inverses as well
marketbasket['No Civilian Fatalities'] = ~marketbasket['Number of Civilian Fatalities']
marketbasket['No Civilian Injured'] = ~marketbasket['Number of Civilian Injured']
marketbasket['No Enforcement Fatalities'] = ~marketbasket['Number of Enforcement Fatalities']
marketbasket['No Enforcement Injured'] = ~marketbasket['Number of Enforcement Injured']


##TODO: Need to finish generating the rest of the dataframe by expanding out unique values across columns
desired_features = [
    'Military Experience',
    'Number of En'
]

marketbasket

C:\Users\spenc\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\spenc\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\spenc\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\spenc\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     Number of Civilian Fatalities  Number of Civilian Injured  Number of Enforcement Fatalities  Number of Enforcement Injured  Military Experience  Number of Shotguns  Number of Rifles  Number of Handguns  No Civilian Fatalities  No Civilian Injured  No Enforcement Fatalities  No Enforcement Injured
0                             True                        True                              True                          False                 True               False             False               False                   False                False                      False                    True
1                             True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
2                             True                        True                              True                           True                False               False             False               False                   False                False                      False                   False
3                             True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
4                             True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
5                             True                        True                              True                          False                False               False             False               False                   False                False                      False                    True
6                             True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
7                             True                        True                             False                           True                False               False             False               False                   False                False                       True                   False
8                             True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
9                             True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
10                            True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
11                            True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
12                            True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
13                            True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
14                            True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
15                            True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
16                            True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
17                            True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
18                            True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
19                            True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
20                            True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
21                            True                        True                              True                          False                False               False             False               False                   False                False                      False                    True
22                            True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
23                            True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
24                            True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
25                            True                        True                              True                           True                 True               False             False               False                   False                False                      False                   False
26                            True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
27                           False                        True                             False                           True                False               False             False               False                    True                False                       True                   False
28                            True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
29                            True                        True                             False                          False                 True               False             False               False                   False                False                       True                    True
..                             ...                         ...                               ...                            ...                  ...                 ...               ...                 ...                     ...                  ...                        ...                     ...
305                           True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
306                          False                        True                             False                          False                False               False             False               False                    True                False                       True                    True
307                           True                       False                             False                          False                False               False             False               False                   False                 True                       True                    True
308                           True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
309                          False                        True                             False                          False                False               False             False               False                    True                False                       True                    True
310                           True                       False                             False                          False                False               False             False               False                   False                 True                       True                    True
311                           True                       False                             False                          False                False               False             False               False                   False                 True                       True                    True
312                           True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
313                           True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
314                           True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
315                           True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
316                           True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
317                           True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
318                           True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
319                           True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
320                          False                        True                             False                          False                False               False             False               False                    True                False                       True                    True
321                           True                       False                             False                          False                False               False             False               False                   False                 True                       True                    True
322                           True                       False                             False                           True                False               False             False               False                   False                 True                       True                   False
323                           True                       False                             False                          False                False               False             False               False                   False                 True                       True                    True
324                           True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
325                           True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
326                           True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
327                           True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
328                          False                        True                             False                          False                False               False             False               False                    True                False                       True                    True
329                           True                        True                             False                           True                 True               False             False               False                   False                False                       True                   False
330                          False                        True                             False                          False                False               False             False               False                    True                False                       True                    True
331                           True                        True                             False                          False                False               False             False               False                   False                False                       True                    True
332                          False                        True                             False                          False                False               False             False               False                    True                False                       True                    True
333                           True                        True                             False                           True                False               False             False               False                   False                False                       True                   False
334                          False                        True                             False                          False                False               False             False               False                    True                False                       True                    True

[335 rows x 12 columns]

In [187]:
#Apply apriori market basket algorithm
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
apriori_res = apriori(marketbasket, min_support=0.2, use_colnames=True)

In [188]:
apriori_res['itemsets'] = apriori_res['itemsets'].apply(lambda x: ''.join(e + ', ' for e in x))

In [189]:
pd.options.display.max_colwidth = 300
apriori_res.sort_values('support')

     support                                                                                                        itemsets
14  0.600000  Number of Civilian Fatalities, Number of Civilian Injured, No Enforcement Fatalities, No Enforcement Injured,
11  0.614925                             Number of Civilian Fatalities, Number of Civilian Injured, No Enforcement Injured,
10  0.626866                          Number of Civilian Fatalities, Number of Civilian Injured, No Enforcement Fatalities,
4   0.650746                                                     Number of Civilian Fatalities, Number of Civilian Injured,
13  0.743284                                 Number of Civilian Injured, No Enforcement Fatalities, No Enforcement Injured,
8   0.758209                                                            Number of Civilian Injured, No Enforcement Injured,
12  0.773134                              Number of Civilian Fatalities, No Enforcement Fatalities, No Enforcement Injured,
7   0.779104                                                         Number of Civilian Injured, No Enforcement Fatalities,
6   0.791045                                                         Number of Civilian Fatalities, No Enforcement Injured,
1   0.805970                                                                                    Number of Civilian Injured,
5   0.805970                                                      Number of Civilian Fatalities, No Enforcement Fatalities,
0   0.835821                                                                                 Number of Civilian Fatalities,
9   0.916418                                                             No Enforcement Fatalities, No Enforcement Injured,
3   0.937313                                                                                        No Enforcement Injured,
2   0.961194                                                                                     No Enforcement Fatalities,

In [182]:
apriori_res['itemsets']

0                                                                                    Number of Civilian Fatalities,
1                                                                                       Number of Civilian Injured,
2                                                                                        No Enforcement Fatalities,
3                                                                                           No Enforcement Injured,
4                                                        Number of Civilian Fatalities, Number of Civilian Injured,
5                                                         Number of Civilian Fatalities, No Enforcement Fatalities,
6                                                            Number of Civilian Fatalities, No Enforcement Injured,
7                                                            Number of Civilian Injured, No Enforcement Fatalities,
8                                                               Number of Civilian Injured, No Enforcement Injured,
9                                                                No Enforcement Fatalities, No Enforcement Injured,
10                            Number of Civilian Fatalities, Number of Civilian Injured, No Enforcement Fatalities,
11                               Number of Civilian Fatalities, Number of Civilian Injured, No Enforcement Injured,
12                                Number of Civilian Fatalities, No Enforcement Fatalities, No Enforcement Injured,
13                                   Number of Civilian Injured, No Enforcement Fatalities, No Enforcement Injured,
14    Number of Civilian Fatalities, Number of Civilian Injured, No Enforcement Fatalities, No Enforcement Injured,
Name: itemsets, dtype: object

In [183]:
#Group the dataset by year
shooters['Date'] = pd.to_datetime(shooters['Date'])
dategroups = shooters.groupby(shooters.Date.dt.year)


#Iterate over groups, count each gun type
for name, grouped in dategroups:
    gun_counts = grouped['Type of Gun - General'].count().transpose()
    print(name)
    print(gun_counts)

1966
2
1971
1
1972
1
1974
2
1976
2
1979
2
1982
2
1983
2
1984
3
1985
2
1986
3
1987
1
1988
6
1989
3
1990
1
1991
5
1992
4
1993
9
1994
4
1995
4
1996
3
1997
6
1998
5
1999
7
2000
1
2001
2
2002
2
2003
3
2004
2
2005
3
2006
6
2007
10
2008
6
2009
6
2010
2
2011
6
2012
14
2013
16
2014
13
2015
65
2016
98

In [184]:
from altair import *
chart = Chart(data).mark_area(
    stacked='center',
).encode(
    color=Color('series:N',
        scale=Scale(
            range='category20b',
        ),
    ),
    x=X('date:T',
        axis=Axis(
            axisWidth=0.0,
            format='%Y',
            labelAngle=0.0,
            tickSize=0.0,
        ),
        scale=Scale(
            nice='month',
        ),
        timeUnit='yearmonth',
    ),
    y=Y('sum(count):Q',
        axis=False,
    ),
).configure_cell(
    height=200.0,
    width=300.0,
)

SchemaValidationError: Invalid specification

        altair.vegalite.v2.schema.core.MarkDef, validating 'additionalProperties'

        Additional properties are not allowed ('stacked' was unexpected)