In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
shooters = pd.read_csv('Data/Stanford_MSA_Database.csv')

OK, so there's lots of things we can do with the dataset given that it's a full 335 rows with 55 columns of descriptive text data each. Let's start by coming up with some basic questions we want answered:
- What kinds of weapons are most popular, and where?
- Where are guns most readily accessible in the country?
- How do warning signs change with age and other factors?
- Does lethality change with age?
- Have shootings become, on the whole, more lethal over time?
- How do the number of fatalities compare to the total number of victims?
- Has the number of guns used in a shooting changed on average over time?
- What happens to the shooter, and how does that change with age and race? Does their fate change substantially in incidences of school shootings?
- How do the motivations of mass shooters differ with geography?
- Does military experience alter the motive?

In [4]:
shooters

,CaseID,Title,Location,City,State,Latitude,Longitude,Number of Civilian Fatalities,Number of Civilian Injured,Number of Enforcement Fatalities,...,Data Source 3,Data Source 4,Data Source 5,Data Source 6,Data Source 7,Military Experience,Class,Depreciation,Notes,Edit Date
0,1,University of Texas at Austin,"Austin, Texas",Austin,Texas,30.198887,-97.844159,15,32,1,...,http://news.google.com/newspapers?id=lkk0AAAAI...,http://news.google.com/newspapers?id=PPUjAAAAI...,http://books.google.com/books?id=ClYEAAAAMBAJ&...,NaN,NaN,Yes,SPK,1,NaN,6/8/2016
1,2,Rose-Mar College of Beauty,"Mesa, Arizona",Mesa,Arizona,33.422687,-111.816320,5,1,0,...,http://www.nydailynews.com/news/crime/beauty-s...,http://books.google.com/books?id=Cre7qsswRiwC&...,NaN,NaN,NaN,Unknown,MS,1,NaN,6/8/2016
2,3,New Orleans Police Shootings,"New Orleans, Louisiana",New Orleans,Louisiana,30.068724,-89.931474,4,8,5,...,http://www.trutv.com/library/crime/notorious_m...,http://books.google.com/books?id=TfEDmROcZwEC&...,NaN,NaN,NaN,Unknown,SPK,1,NaN,6/22/2016
3,4,Clara Barton Elementary School,"Chicago, Illinois",Chicago,Illinois,41.839280,-87.688181,1,3,0,...,http://www.leagle.com/xmlResult.aspx?page=1&xm...,NaN,NaN,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
4,5,Olean High School,"Olean, New York",Olean,New York,42.081854,-78.432139,3,7,0,...,http://www.newswithviews.com/Erica/Carle10.htm,http://books.google.com/books?id=ZuKoSskEWyIC&...,"""Olean High School Shooting"". Larrie Benton Za...",NaN,NaN,Unknown,MS,1,NaN,6/21/2016
5,6,Los Angeles Computer Learning Center,"Los Angeles, California",Los Angeles,California,34.176221,-118.539954,1,6,1,...,http://www.newspapers.com/newspage/15323499/,NaN,NaN,NaN,NaN,Unknown,MS,1,NaN,6/22/2016
6,7,Cal State Fullerton,"Fullerton, California",Fullerton,California,33.884042,-117.927850,7,2,0,...,http://www.dailytitan.com/2011/11/csuf-massacr...,http://criminalminds.wikia.com/wiki/Edward_All...,http://www.dailytitan.com/2011/11/csuf-massacr...,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
7,8,Grover Cleveland Elementary School,"San Diego, California",San Diego,California,32.863573,-117.128163,2,8,0,...,http://www.examiner.com/article/the-san-diego-...,http://signofthetimes.yuku.com/topic/1258#.Uvb...,https://www.mail-archive.com/seeknfind@ashlist...,NaN,NaN,Unknown,MS,1,NaN,6/22/2016
8,9,University of South Carolina,"Columbia, South Carolina",Columbia,South Carolina,34.050988,-80.820775,2,5,0,...,http://news.google.com/newspapers?nid=1891&dat...,http://news.google.com/newspapers?nid=1338&dat...,NaN,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
9,10,Valley High School,"Las Vegas, Nevada",Las Vegas,Nevada,36.189319,-115.326487,1,2,0,...,http://www.leagle.com/xmlResult.aspx?page=1&xm...,http://news.google.com/newspapers?nid=1345&dat...,http://www.lasvegassun.com/news/1999/apr/23/sl...,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
10,11,Welding shop in Miami,"Miami, Florida",Miami,Florida,25.796539,-80.208404,8,3,0,...,http://www.motherjones.com/politics/2012/12/ma...,http://www.nytimes.com/1982/08/24/us/no-charge...,http://www.nytimes.com/1982/10/14/us/florida-c...,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
11,12,Wah Mee Club in Seattle,"Seattle, Washington",Seattle,Washington,47.621996,-122.323646,13,1,0,...,http://seattletimes.com/html/localnews/2010428...,http://wahmee.com/wahmeebook.html,http://murderpedia.org/male.N/images/ng_benjam...,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
12,13,Johnston Post Office,"Johnston, South Carolina",Johnston,South Carolina,33.832729,-81.805158,1,3,0,...,http://sc.findacase.com/research/wfrmDocViewer...,http://news.google.com/newspapers?nid=861&dat=...,http://www.21cpw.com/BGP.pdf,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
13,14,49th Street Elementary School,"Los Angeles, California",Los Angeles,California,34.176221,-118.539954,2,12,0,...,http://articles.latimes.com/1985-02-24/news/mn...,http://www.ourweekly.com/issues-archive/tracki...,http://www.apnewsarchive.com/1985/New-Proposal...,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
14,15,Ianni's Club in Dallas,"Dallas, Texas",Dallas,Texas,32.794806,-96.766311,6,1,0,...,http://www.mail-archive.com/deathpenalty@lists...,http://www.garylavergne.com/WTDexcerpt.htm,http://books.google.com/books?id=Hr3OBwP-lbUC&...,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
15,16,McDonald's restaurant in San Ysidro,"San Ysidro, California",San Ysidro,California,32.555556,-117.047656,21,19,0,...,http://en.wikipedia.org/wiki/San_Ysidro_McDona...,http://www.history.com/this-day-in-history/twe...,http://www.sandiegouniontribune.com/san-ysidro...,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
16,17,Goddard Junior High School,"Goddard, Kansas",Goddard,Kansas,37.671294,-97.550705,1,3,0,...,http://news.google.com/newspapers?nid=1499&dat...,http://news.google.com/newspapers?nid=1906&dat...,http://ks.findacase.com/research/wfrmDocViewer...,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
17,18,Atlanta Post Office,"Atlanta, Georgia",Atlanta,Georgia,33.762997,-84.423133,2,1,0,...,http://www.leagle.com/decision/198891983BR836_...,http://books.google.com/books?id=aiQ09D7nWxYC&...,http://news.google.com/newspapers?nid=1964&dat...,http://books.google.com/books?id=3B4lTTZE58oC&...,http://psychwatch.blogspot.com/2007/04/link-be...,Unknown,MS,1,NaN,6/21/2016
18,19,New York Technical College,"Brooklyn, New York",Brooklyn,New York,40.679276,-73.939513,1,4,0,...,http://www.apnewsarchive.com/1986/Five-Shot-On...,http://articles.philly.com/1986-08-14/news/260...,http://joycedavid.com/wp-content/uploads/2013/...,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
19,20,"Post office in Edmond, Oklahoma","Edmond, Oklahoma",Edmond,Oklahoma,35.668892,-97.414388,14,6,0,...,http://enidnews.com/opinion/x518655735/Aug-20-...,http://en.wikipedia.org/wiki/Patrick_Sherrill,http://www.fdungan.com/usps2.htm,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
20,21,Fergus County High School,"Lewistown, Montana",Lewistown,Montana,47.037407,-109.484492,1,3,0,...,http://www.apnewsarchive.com/1986/Student-Want...,http://billingsgazette.com/news/state-and-regi...,http://caselaw.findlaw.com/mt-supreme-court/11...,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
21,22,Palm Bay Shopping Centers,"Palm Bay, Florida",Palm Bay,Florida,27.983890,-80.666627,4,14,2,...,http://articles.orlandosentinel.com/keyword/wi...,http://www.nytimes.com/1987/04/25/us/florida-g...,http://articles.latimes.com/1987-04-25/news/mn...,http://www.motherjones.com/politics/2012/12/ma...,NaN,Unknown,SPK,1,NaN,6/23/2016
22,23,Pinellas Park High School,"Pinellas Park, Florida",Pinellas Park,Florida,27.848871,-82.710580,1,2,0,...,http://www.tampabay.com/news/publicsafety/man-...,http://www.apnewsarchive.com/1988/Teen-Accused...,http://www.wtsp.com/rss/article/217730/13/Surv...,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
23,24,Electromagnetic Systems Laboratory (ESL),"Sunnyvale, California",Sunnyvale,California,37.383443,-122.025619,7,4,0,...,http://murderpedia.org/male.F/f/farley-richard...,http://articles.latimes.com/1988-02-18/news/mn...,http://www.motherjones.com/politics/2012/12/ma...,http://news.google.com/newspapers?id=FmYzAAAAI...,http://news.google.com/newspapers?id=uqxAAAAAI...,Unknown,MS,1,NaN,6/21/2016
24,25,Hubbard Woods Elementary School,"Winnetka, Illinois",Winnetka,Illinois,42.106488,-87.742111,1,7,0,...,http://www.nbcchicago.com/news/local/Rememberi...,http://abclocal.go.com/wls/story?section=news/...,NaN,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
25,26,Comet Auto Parts and Montefiore School,"Chicago, Illinois",Chicago,Illinois,41.839280,-87.688181,3,1,1,...,http://news.google.com/newspapers?nid=2457&dat...,http://news.google.com/newspapers?nid=1665&dat...,http://www.nytimes.com/1988/09/23/us/chicago-m...,NaN,NaN,Yes,SPK,1,NaN,6/23/2016
26,27,Oakland Elementary School,"Greenwood, South Carolina",Greenwood,South Carolina,34.192895,-82.153555,2,9,0,...,http://www.charlestoncitypaper.com/charleston/...,http://news.google.com/newspapers?nid=1665&dat...,http://law.justia.com/cases/federal/appellate-...,https://law.resource.org/pub/us/case/reporter/...,http://books.google.com/books?id=loDr8rpeCeoC&...,Unknown,MS,1,NaN,6/21/2016
27,28,New Orleans Downtown Post Office,"New Orleans, Louisiana",New Orleans,Louisiana,30.068724,-89.931474,0,3,0,...,http://books.google.com/books?id=YaLo1jgAorMC&...,http://www.ca5.uscourts.gov/opinions/unpub/93/...,http://www.thehospitalsecurityreporter.com/pdf...,NaN,NaN,Unknown,MS,1,NaN,6/23/2016
28,29,Cleveland Elementary School,"Stockton, California",Stockton,California,37.966318,-121.301877,5,30,0,...,http://news.google.com/newspapers?id=xpAOAAAAI...,http://www.nytimes.com/1989/01/18/us/five-chil...,NaN,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
29,30,Orange Glenn Post Office,"Escondido, California",Escondido,California,33.134399,-117.072253,3,1,0,...,http://www.reocities.com/HotSprings/5782/inmem...,http://murderpedia.org/male.T/t/taylor-john-me...,NaN,NaN,NaN,Yes,MS,1,NaN,6/21/2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,315,"Forestville, Maryland Drive-by","Forestville, Maryland",Forestville,Maryland,38.845113,-76.874972,1,4,0,...,http://wtop.com/prince-georges-county/2016/04/...,NaN,NaN,NaN,NaN,Unknown,MS,1,NaN,6/6/2016
306,316,"Ferguson, MO Drive by","Ferguson, Missouri",Ferguson,Missouri,38.744217,-90.305391,0,4,0,...,http://www.ksdk.com/news/two-9-year-old-girls-...,NaN,NaN,NaN,http://www.gunviolencearchive.org/incident/550445,Unknown,MS,1,NaN,5/31/2016
307,317,"Appling, GA family murder","Appling, Georgia",Appling,Georgia,33.546090,-82.316315,5,0,0,...,http://chronicle.augusta.com/news/crime-courts...,http://6abc.com/news/five-people-shot-to-death...,NaN,NaN,http://www.gunviolencearchive.org/incident/546022,Unknown,SPK,1,NaN,6/7/2016
308,318,"Auburn, AL club shootout","Auburn, Alabama",Auburn,Alabama,32.609857,-85.480782,3,1,0,...,http://www.al.com/news/montgomery/index.ssf/20...,http://www.theplainsman.com/article/2016/04/th...,NaN,NaN,http://www.gunviolencearchive.org/incident/546244,Unknown,MS,1,NaN,6/7/2016
309,319,Nashville Music City Central shooting,"Nashville, Tennessee",Nashville,Tennessee,36.162664,-86.781602,0,4,0,...,http://fox17.com/news/local/metro-says-shootin...,http://www.tennessean.com/story/news/crime/201...,NaN,NaN,NaN,Unknown,MS,1,NaN,6/7/2017
310,320,"Murfreesboro, TN party shooting","Murfreesboro, Tennessee",Murfreesboro,Tennessee,35.845621,-86.390270,5,0,0,...,http://www.dnj.com/story/news/2016/05/02/shoot...,NaN,NaN,NaN,http://www.gunviolencearchive.org/incident/551053,Unknown,MS,1,NaN,6/27/2016
311,321,"Florida Ex-wife, ex-girlfriend murder","Green Cove Springs, Florida",Green Cove Springs,Florida,29.991909,-81.678147,3,0,0,...,http://heavy.com/news/2016/05/murray-lancaster...,NaN,NaN,NaN,NaN,Unknown,MS,1,NaN,6/27/2016
312,322,"Katy, Texas work retaliation murder","Katy, Texas",Katy,Texas,29.785785,-95.824396,1,2,0,...,http://www.nbcnewyork.com/news/national-intern...,NaN,NaN,NaN,NaN,Unknown,MS,1,NaN,6/27/2016
313,323,"Card game ambush in Shreveport, Louisiana","Shreveport, Louisiana",Shreveport,Louisiana,32.525152,-93.750179,2,6,0,...,http://www.ktbs.com/story/31897378/updated-2-d...,NaN,NaN,NaN,http://www.gunviolencearchive.org/incident/553803,Unknown,MS,1,NaN,6/27/2016
314,324,"Allapattah, Florida street shooting","Allapattah, Florida",Allapattah,Florida,25.800315,-80.226555,1,3,0,...,http://www.nbcmiami.com/news/local/1-Killed-3-...,NaN,NaN,NaN,http://www.gunviolencearchive.org/incident/554027,Unknown,MS,1,NaN,6/27/2016
315,325,Federal Security Officer has day shooting ramp...,"Bethesda, Maryland",Bethesda,Maryland,38.984652,-77.094709,3,3,0,...,http://heavy.com/news/2016/05/gladys-eulalio-t...,http://www.nbcwashington.com/news/local/Shooti...,NaN,NaN,http://www.gunviolencearchive.org/incident/554133,Unknown,SPK,1,NaN,6/27/2016
316,326,"Montgomery, Alabama street shooting","Montgomery, Alabama",Montgomery,Alabama,32.366805,-86.299969,1,3,0,...,http://www.al.com/news/index.ssf/2016/05/4_sho...,http://www.alabamanews.net/2016/05/10/one-of-f...,NaN,NaN,NaN,Unknown,MS,1,NaN,6/28/2016
317,327,Detroit street shooting,"Detroit, Michigan",Detroit,Michigan,42.331427,-83.045754,1,4,0,...,http://www.mlive.com/news/detroit/index.ssf/20...,http://www.fox2detroit.com/news/local-news/138...,NaN,NaN,NaN,Unknown,MS,1,NaN,6/28/2016
318,328,Austin Taco truck murder,"Austin, Texas",Austin,Texas,30.267153,-97.743061,1,3,0,...,http://austin.com/fight-over-line-cutting-lead...,http://www.kvue.com/news/local/sources-argumen...,NaN,NaN,NaN,Unknown,MS,1,NaN,6/28/2016
319,329,Birmingham Domestic Dispute Murder,"Birmingham, Alabama",Birmingham,Alabama,33.520661,-86.802490,1,4,0,...,http://abc3340.com/news/local/birmingham-pd-wo...,http://www.al.com/news/birmingham/index.ssf/20...,NaN,NaN,NaN,Unknown,MS,1,NaN,6/28/2016
320,330,Chicago bus stop ambush,"Chicago, Illinois",Chicago,Illinois,41.878114,-87.629798,0,5,0,...,http://www.chicagotribune.com/news/local/break...,http://chicago.suntimes.com/news/1-killed-15-w...,NaN,NaN,http://www.gunviolencearchive.org/incident/557479,Unknown,MS,1,NaN,6/28/2016
321,331,Chicago Family Murder Suicide,"Chicago, Illinois",Chicago,Illinois,41.878114,-87.629798,3,0,0,...,http://homicides.suntimes.com/2016/05/13/polic...,https://www.dnainfo.com/chicago/20160512/engle...,NaN,NaN,NaN,Unknown,FMS,1,NaN,6/28/2016
322,332,Phoenix girlfriend murder and cop shootout,"Phoenix, Arizona",Phoenix,Arizona,33.448377,-112.074037,1,0,0,...,http://www.12news.com/news/local/valley/phoeni...,NaN,NaN,NaN,NaN,Unknown,MS,1,NaN,6/28/2016
323,333,"Friend murder and fire coverup in Moultrie, GA","Moultrie, Georgia",Moultrie,Georgia,31.179941,-83.788839,5,0,0,...,http://www.moultrieobserver.com/news/local_new...,http://heavy.com/news/2016/05/jeffrey-peacock-...,NaN,NaN,NaN,Unknown,MS,1,NaN,6/29/2016
324,334,Trailer park triple homocide in South Carolina,"Ravenel, South Carolina",Ravenel,South Carolina,32.763232,-80.250099,3,1,0,...,http://www.charlestonscene.com/20160518/160519...,http://www.walb.com/story/32001315/three-autop...,NaN,NaN,http://www.gunviolencearchive.org/incident/560782,Unknown,MS,1,NaN,6/29/2016
325,335,Graduation party drive by,"Jackson, Georgia",Jackson,Georgia,33.294565,-83.966021,1,3,0,...,http://www.11alive.com/news/crime/teen-killed-...,NaN,NaN,NaN,http://www.gunviolencearchive.org/incident/563630,Unknown,MS,1,NaN,6/29/2016
326,336,"Stockton, CA murder","Stockton, California",Stockton,California,37.957702,-121.290780,1,3,0,...,http://www.recordnet.com/article/20160616/NEWS...,NaN,NaN,NaN,http://www.gunviolencearchive.org/incident/563514,Unknown,MS,1,NaN,6/29/2016
327,337,NYC Concert shooting,"New York City, New York",New York City,New York,40.712784,-74.005941,1,2,0,...,http://www.nydailynews.com/new-york/manhattan/...,NaN,NaN,NaN,NaN,Unknown,MS,1,NaN,6/29/2016
328,338,Las Vegas sidewalk shooting,"Las Vegas, Nevada",Las Vegas,Nevada,36.169941,-115.139830,0,4,0,...,http://www.reviewjournal.com/crime/shootings/m...,http://www.reviewjournal.com/crime/shootings/1...,NaN,NaN,http://www.gunviolencearchive.org/incident/567788,Unknown,MS,1,NaN,6/27/2016
329,339,Army vet shooting in Houston,"Houston, Texas",Houston,Texas,29.760427,-95.369803,1,4,0,...,http://www.wkbw.com/news/national/possible-act...,http://abc13.com/news/gunman-in-west-houston-m...,http://www.cbsnews.com/news/family-ids-trouble...,http://www.nydailynews.com/news/national/houst...,NaN,Yes,MS,1,NaN,6/29/2016
330,340,Fort Warne drive by,"Fort Wayne, Indiana",Fort Wayne,Indiana,41.079273,-85.139351,0,4,0,...,http://wane.com/2016/05/31/4-people-shot-in-pa...,http://www.news-sentinel.com/news/local/crime/...,NaN,NaN,NaN,Unknown,MS,1,NaN,6/29/2016
331,341,Cape Coral Shooting Spree,"Cape Coral, Florida",Cape Coral,Florida,26.562854,-81.949533,2,3,0,...,http://www.fox4now.com/news/breaking-shooting-...,NaN,NaN,NaN,NaN,Unknown,MS,1,NaN,6/29/2016
332,342,"Webster, MN party shooting","Webster, Minnesota",Webster,Minnesota,44.529686,-93.352723,0,4,0,...,http://kstp.com/news/shots-fired-rice-county-3...,http://www.startribune.com/mpls-rapper-behind-...,NaN,NaN,http://www.gunviolencearchive.org/incident/578238,Unknown,MS,1,NaN,7/6/2016
333,343,Orlando Nightclub Massacre,"Orlando, Florida",Orlando,Florida,28.538335,-81.379236,49,52,0,...,http://www.nytimes.com/live/orlando-nightclub-...,http://www.cityoforlando.net/police/mass-shoot...,NaN,NaN,http://www.gunviolencearchive.org/incident/577157,No,MS,1,NaN,7/6/2016
334,344,Nightclub Disput,"Lyman, South Carolina",Lyman,South Carolina,34.948174,-82.127331,0,3,0,...,http://www.washingtontimes.com/news/2016/jun/3...,http://www.foxcarolina.com/story/32308903/depu...,NaN,NaN,NaN,Unknown,MS,1,NaN,7/28/2016

In [5]:
list(shooters)

['CaseID',
 'Title',
 'Location',
 'City',
 'State',
 'Latitude',
 'Longitude',
 'Number of Civilian Fatalities',
 'Number of Civilian Injured',
 'Number of Enforcement Fatalities',
 'Number of Enforcement Injured',
 'Total Number of Fatalities',
 'Total Number of Victims',
 'Description',
 'Date',
 'Day of Week',
 'Date - Detailed',
 'Shooter Name',
 'Number of shooters',
 'Shooter Age(s)',
 'Average Shooter Age',
 'Shooter Sex',
 'Shooter Race',
 'Type of Gun - Detailed',
 'Type of Gun - General',
 'Number of Shotguns',
 'Number of Rifles',
 'Number of Handguns',
 'Total Number of Guns',
 'Number of Automatic Guns',
 'Number of Semi-Automatic Guns',
 'Fate of Shooter at the scene',
 'Fate of Shooter',
 "Shooter's Cause of Death",
 'School Related',
 'Place Type',
 'Relationship to Incident Location',
 'Targeted Victim/s - Detailed',
 'Targeted Victim/s - General',
 'Possible Motive - Detailed',
 'Possible Motive - General',
 'History of Mental Illness - Detailed',
 'History of Mental Illness - General',
 'Data Source 1',
 'Data Source 2',
 'Data Source 3',
 'Data Source 4',
 'Data Source 5',
 'Data Source 6',
 'Data Source 7',
 'Military Experience',
 'Class',
 'Depreciation',
 'Notes',
 'Edit Date']

I'm curious what's going to happen if I run a market basket analysis. Let's clean up the data a little more and see what happens. I'm working off of the following tutorial:
http://pbpython.com/market-basket-analysis.html

In [75]:
cleaned_shooters = shooters.copy(deep=True)

#Clean gun types
cleaned_shooters['Type of Gun - General'] = cleaned_shooters['Type of Gun - General'].str.strip()
cleaned_shooters['Type of Gun - General'] = cleaned_shooters['Type of Gun - General'].str.lower()
cleaned_shooters['Type of Gun - General'].unique()

array(['multiple guns', 'handgun', 'shotgun', 'rifle', 'unknown',
       'semi-automatic rifle', '9-mm'], dtype=object)

In [76]:
#Clean gun counts
guncount_types = ['Number of Shotguns','Number of Handguns','Number of Rifles']
for guncount_type in guncount_types:
    cleaned_shooters[guncount_type].replace('Unknown', 0, inplace=True)

In [77]:
#Clean military experience
cleaned_shooters['Military Experience'] = cleaned_shooters['Military Experience'].str.lower()
cleaned_shooters['Military Experience'].replace('yes', True, inplace=True)
cleaned_shooters['Military Experience'].replace(['no', 'unknown'], False, inplace=True)

In [78]:
#Set civilian + law enforcement casualties, injuries to bools
cleaned_shooters['Number of Civilian Fatalities'] = cleaned_shooters['Number of Civilian Fatalities'] > 0
cleaned_shooters['Number of Civilian Injured'] = cleaned_shooters['Number of Civilian Injured'] > 0
cleaned_shooters['Number of Enforcement Fatalities'] = cleaned_shooters['Number of Enforcement Fatalities'] > 0
cleaned_shooters['Number of Enforcement Injured'] = cleaned_shooters['Number of Enforcement Injured'] > 0
cleaned_shooters['High Civilian Casualties'] = (shooters['Number of Civilian Fatalities'] + shooters['Number of Civilian Injured']) > 10

In [79]:
#Corner cases (from errors)
cleaned_shooters['Number of Shotguns'].replace('Handgun', 0, inplace=True)
cleaned_shooters['Number of Rifles'].replace('0 (1)', 0, inplace=True)
cleaned_shooters['Number of Handguns'].replace('2 (1)', 0, inplace=True)

In [80]:
#Set gun types to bools
cleaned_shooters['Number of Shotguns'] = pd.to_numeric(cleaned_shooters['Number of Shotguns']) > 0
cleaned_shooters['Number of Rifles'] = pd.to_numeric(cleaned_shooters['Number of Rifles']) > 0
cleaned_shooters['Number of Handguns'] = pd.to_numeric(cleaned_shooters['Number of Handguns']) > 0

In [82]:
#We'll iterate over our desired features and flatten them s.t.
#each unique value has a column, and if the incident has that value
#we'll just assign the matching column a 1 and the other ones a 0
marketbasket = cleaned_shooters[[
    'Number of Civilian Fatalities',
    'Number of Civilian Injured',
    'Number of Enforcement Fatalities',
    'Number of Enforcement Injured',
    'Military Experience',
    'Number of Shotguns',
    'Number of Rifles',
    'Number of Handguns',
    'High Civilian Casualties'
]]


#Get the logical inverses as well
marketbasket['No Civilian Fatalities'] = ~marketbasket['Number of Civilian Fatalities']
marketbasket['No Civilian Injured'] = ~marketbasket['Number of Civilian Injured']
marketbasket['No Enforcement Fatalities'] = ~marketbasket['Number of Enforcement Fatalities']
marketbasket['No Enforcement Injured'] = ~marketbasket['Number of Enforcement Injured']


##TODO: Need to finish generating the rest of the dataframe by expanding out unique values across columns
desired_features = [
    'Military Experience',
    'Number of En'
]

marketbasket

C:\Users\spenc\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\spenc\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\spenc\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\spenc\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Number of Civilian Fatalities,Number of Civilian Injured,Number of Enforcement Fatalities,Number of Enforcement Injured,Military Experience,Number of Shotguns,Number of Rifles,Number of Handguns,High Civilian Casualties,No Civilian Fatalities,No Civilian Injured,No Enforcement Fatalities,No Enforcement Injured
0,True,True,True,False,True,True,True,True,True,False,False,False,True
1,True,True,False,False,False,False,False,True,False,False,False,True,True
2,True,True,True,True,False,False,True,True,True,False,False,False,False
3,True,True,False,False,False,False,False,True,False,False,False,True,True
4,True,True,False,False,False,True,True,False,False,False,False,True,True
5,True,True,True,False,False,True,False,False,False,False,False,False,True
6,True,True,False,False,False,False,True,False,False,False,False,True,True
7,True,True,False,True,False,False,True,False,False,False,False,True,False
8,True,True,False,False,False,False,False,True,False,False,False,True,True
9,True,True,False,False,False,False,False,True,False,False,False,True,True
10,True,True,False,False,False,True,False,False,True,False,False,True,True
11,True,True,False,False,False,False,False,True,True,False,False,True,True
12,True,True,False,False,False,True,False,False,False,False,False,True,True
13,True,True,False,False,False,True,True,False,True,False,False,True,True
14,True,True,False,False,False,False,False,True,False,False,False,True,True
15,True,True,False,False,False,True,False,False,True,False,False,True,True
16,True,True,False,False,False,False,True,True,False,False,False,True,True
17,True,True,False,False,False,False,False,True,False,False,False,True,True
18,True,True,False,False,False,False,False,True,False,False,False,True,True
19,True,True,False,False,False,False,False,True,True,False,False,True,True
20,True,True,False,False,False,False,False,True,False,False,False,True,True
21,True,True,True,False,False,True,True,True,True,False,False,False,True
22,True,True,False,False,False,False,False,True,False,False,False,True,True
23,True,True,False,False,False,True,True,True,True,False,False,True,True
24,True,True,False,False,False,False,False,True,False,False,False,True,True
25,True,True,True,True,True,False,False,True,False,False,False,False,False
26,True,True,False,False,False,False,False,True,True,False,False,True,True
27,False,True,False,True,False,True,False,False,False,True,False,True,False
28,True,True,False,False,False,False,True,True,True,False,False,True,True
29,True,True,False,False,True,False,False,True,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,True,True,False,False,False,False,False,False,False,False,False,True,True
306,False,True,False,False,False,False,False,False,False,True,False,True,True
307,True,False,False,False,False,False,False,False,False,False,True,True,True
308,True,True,False,False,False,False,False,False,False,False,False,True,True
309,False,True,False,False,False,False,False,False,False,True,False,True,True
310,True,False,False,False,False,False,False,False,False,False,True,True,True
311,True,False,False,False,False,False,False,False,False,False,True,True,True
312,True,True,False,False,False,True,False,False,False,False,False,True,True
313,True,True,False,False,False,False,False,False,False,False,False,True,True
314,True,True,False,False,False,False,False,False,False,False,False,True,True
315,True,True,False,False,False,False,False,True,False,False,False,True,True
316,True,True,False,False,False,False,False,False,False,False,False,True,True
317,True,True,False,False,False,False,False,False,False,False,False,True,True
318,True,True,False,False,False,True,False,False,False,False,False,True,True
319,True,True,False,False,False,False,True,False,False,False,False,True,True
320,False,True,False,False,False,False,False,False,False,True,False,True,True
321,True,False,False,False,False,False,False,True,False,False,True,True,True
322,True,False,False,True,False,False,False,False,False,False,True,True,False
323,True,False,False,False,False,False,False,False,False,False,True,True,True
324,True,True,False,False,False,False,False,True,False,False,False,True,True
325,True,True,False,False,False,False,False,False,False,False,False,True,True
326,True,True,False,False,False,False,False,False,False,False,False,True,True
327,True,True,False,False,False,False,False,True,False,False,False,True,True
328,False,True,False,False,False,False,False,True,False,True,False,True,True
329,True,True,False,True,True,False,True,True,False,False,False,True,False
330,False,True,False,False,False,False,False,False,False,True,False,True,True
331,True,True,False,False,False,True,False,False,False,False,False,True,True
332,False,True,False,False,False,False,False,False,False,True,False,True,True
333,True,True,False,True,False,False,True,True,True,False,False,True,False
334,False,True,False,False,False,False,False,True,False,True,False,True,True

In [86]:
#Apply apriori market basket algorithm
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
apriori_res = apriori(marketbasket, min_support=0.1, use_colnames=True)

In [87]:
apriori_res['itemsets'] = apriori_res['itemsets'].apply(lambda x: ''.join(e + ', ' for e in x))

In [88]:
pd.options.display.max_colwidth = 300
apriori_res.sort_values('support')

,support,itemsets
122,0.101493,"Number of Civilian Fatalities, Number of Civilian Injured, Number of Handguns, High Civilian Casualties, No Enforcement Fatalities, No Enforcement Injured,"
120,0.101493,"Number of Civilian Fatalities, Number of Handguns, No Civilian Injured, No Enforcement Fatalities, No Enforcement Injured,"
77,0.101493,"Number of Rifles, Number of Handguns, No Enforcement Fatalities,"
119,0.101493,"Number of Civilian Fatalities, Number of Handguns, High Civilian Casualties, No Enforcement Fatalities, No Enforcement Injured,"
78,0.101493,"Number of Rifles, Number of Handguns, No Enforcement Injured,"
88,0.101493,"Number of Civilian Fatalities, Number of Civilian Injured, Number of Shotguns, No Enforcement Injured,"
113,0.101493,"Number of Handguns, No Civilian Injured, No Enforcement Fatalities, No Enforcement Injured,"
102,0.104478,"Number of Civilian Fatalities, Number of Handguns, No Civilian Injured, No Enforcement Injured,"
82,0.104478,"Number of Handguns, No Civilian Injured, No Enforcement Fatalities,"
121,0.104478,"Number of Civilian Injured, Number of Handguns, High Civilian Casualties, No Enforcement Fatalities, No Enforcement Injured,"
112,0.104478,"Number of Handguns, High Civilian Casualties, No Enforcement Fatalities, No Enforcement Injured,"
101,0.104478,"Number of Civilian Fatalities, Number of Handguns, No Civilian Injured, No Enforcement Fatalities,"
65,0.104478,"Number of Civilian Injured, Number of Rifles, Number of Handguns,"
99,0.107463,"Number of Civilian Fatalities, Number of Handguns, High Civilian Casualties, No Enforcement Fatalities,"
97,0.107463,"Number of Civilian Fatalities, Number of Shotguns, No Enforcement Fatalities, No Enforcement Injured,"
64,0.107463,"Number of Civilian Injured, Number of Shotguns, No Enforcement Injured,"
83,0.107463,"Number of Handguns, No Civilian Injured, No Enforcement Injured,"
115,0.107463,"Number of Civilian Fatalities, Number of Civilian Injured, Number of Handguns, High Civilian Casualties, No Enforcement Fatalities,"
63,0.107463,"Number of Civilian Injured, Number of Shotguns, No Enforcement Fatalities,"
12,0.107463,"Number of Civilian Fatalities, Military Experience,"
55,0.107463,"Number of Civilian Fatalities, Number of Handguns, No Civilian Injured,"
107,0.110448,"Number of Civilian Injured, Number of Handguns, High Civilian Casualties, No Enforcement Fatalities,"
100,0.110448,"Number of Civilian Fatalities, Number of Handguns, High Civilian Casualties, No Enforcement Injured,"
51,0.110448,"Number of Civilian Fatalities, Number of Rifles, Number of Handguns,"
80,0.110448,"Number of Handguns, High Civilian Casualties, No Enforcement Fatalities,"
43,0.110448,"Number of Civilian Fatalities, Number of Civilian Injured, Number of Shotguns,"
2,0.110448,"Military Experience,"
33,0.110448,"Number of Handguns, No Civilian Injured,"
116,0.110448,"Number of Civilian Fatalities, Number of Civilian Injured, Number of Handguns, High Civilian Casualties, No Enforcement Injured,"
81,0.113433,"Number of Handguns, High Civilian Casualties, No Enforcement Injured,"
...,...,...
93,0.364179,"Number of Civilian Fatalities, Number of Civilian Injured, Number of Handguns, No Enforcement Injured,"
92,0.367164,"Number of Civilian Fatalities, Number of Civilian Injured, Number of Handguns, No Enforcement Fatalities,"
45,0.388060,"Number of Civilian Fatalities, Number of Civilian Injured, Number of Handguns,"
109,0.423881,"Number of Civilian Injured, Number of Handguns, No Enforcement Fatalities, No Enforcement Injured,"
70,0.435821,"Number of Civilian Injured, Number of Handguns, No Enforcement Injured,"
69,0.444776,"Number of Civilian Injured, Number of Handguns, No Enforcement Fatalities,"
103,0.453731,"Number of Civilian Fatalities, Number of Handguns, No Enforcement Fatalities, No Enforcement Injured,"
22,0.465672,"Number of Civilian Injured, Number of Handguns,"
57,0.468657,"Number of Civilian Fatalities, Number of Handguns, No Enforcement Injured,"
56,0.471642,"Number of Civilian Fatalities, Number of Handguns, No Enforcement Fatalities,"
15,0.495522,"Number of Civilian Fatalities, Number of Handguns,"
84,0.525373,"Number of Handguns, No Enforcement Fatalities, No Enforcement Injured,"
35,0.543284,"Number of Handguns, No Enforcement Injured,"
34,0.549254,"Number of Handguns, No Enforcement Fatalities,"
5,0.576119,"Number of Handguns,"
96,0.600000,"Number of Civilian Fatalities, Number of Civilian Injured, No Enforcement Fatalities, No Enforcement Injured,"
48,0.614925,"Number of Civilian Fatalities, Number of Civilian Injured, No Enforcement Injured,"
47,0.626866,"Number of Civilian Fatalities, Number of Civilian Injured, No Enforcement Fatalities,"
11,0.650746,"Number of Civilian Fatalities, Number of Civilian Injured,"
75,0.743284,"Number of Civilian Injured, No Enforcement Fatalities, No Enforcement Injured,"
26,0.758209,"Number of Civilian Injured, No Enforcement Injured,"
62,0.773134,"Number of Civilian Fatalities, No Enforcement Fatalities, No Enforcement Injured,"
25,0.779104,"Number of Civilian Injured, No Enforcement Fatalities,"
19,0.791045,"Number of Civilian Fatalities, No Enforcement Injured,"
18,0.805970,"Number of Civilian Fatalities, No Enforcement Fatalities,"
1,0.805970,"Number of Civilian Injured,"
0,0.835821,"Number of Civilian Fatalities,"
42,0.916418,"No Enforcement Fatalities, No Enforcement Injured,"
10,0.937313,"No Enforcement Injured,"
9,0.961194,"No Enforcement Fatalities,"

In [ ]:
#Group the dataset by year
shooters['Date'] = pd.to_datetime(shooters['Date'])
dategroups = shooters.groupby(shooters.Date.dt.year)


#Iterate over groups, count each gun type
for name, grouped in dategroups:
    gun_counts = grouped['Type of Gun - General'].count().transpose()
    print(name)
    print(gun_counts)

In [ ]:
from altair import *
chart = Chart(data).mark_area(
    stacked='center',
).encode(
    color=Color('series:N',
        scale=Scale(
            range='category20b',
        ),
    ),
    x=X('date:T',
        axis=Axis(
            axisWidth=0.0,
            format='%Y',
            labelAngle=0.0,
            tickSize=0.0,
        ),
        scale=Scale(
            nice='month',
        ),
        timeUnit='yearmonth',
    ),
    y=Y('sum(count):Q',
        axis=False,
    ),
).configure_cell(
    height=200.0,
    width=300.0,
)